<div>
	<div ng-show="loading">{{'loading' | translate}}</div>
	<div ng-show="error">{{'error_details' | translate}}</div>
	<div ng-show="!error && !loading">
		<h1>{{details.name}}</h1>
		<a href="#/list"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> {{'back_to_list' | translate}}</a>
		<br /><br />
		<ul class="nav nav-tabs">
			<li ng-repeat="tab in tabs" role="presentation" ng-class="{active: activeTab(tab)}"><a href="#/hcr/{{id}}/{{tab}}">{{'tab_'+tab | translate}}</a></li>
		</ul>
	</div>
</div>
