<div class="container">
	<div ng-show="loading">{{'loading' | translate}}</div>
	<div ng-show="error">{{'error_details' | translate}}</div>
	<div ng-show="!error">
		<h1>{{details.name}}</h1>
		<a href="#/list"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> {{'back_to_list' | translate}}</a>
		<br /><br />
		<ul class="nav nav-tabs">
			<li ng-repeat="tab in tabs" role="presentation" ng-class="{active: activeTab(tab.name)}"><a href="#/hcr/{{id}}/{{tab.name}}">{{'tab_'+tab.name | translate}}</a></li>
		</ul>
		<br />
		<tabs-overview ng-show="activeTab('overview')"></tabs-overview>
		<tabs-realtime ng-show="activeTab('realtime')"></tabs-realtime>
		<tabs-charts ng-show="activeTab('charts')"></tabs-overview>
	</div>
</div>
